.header {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header-item {
  margin: 0 20px;
}

.CN {
  color: red;
}

.random-joke-text {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 25px;
}

.random-joke-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.random-joke-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 300px;
  background-color: rgba(119, 118, 118, 0.12);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

.new-joke-button {
  position: absolute;
  bottom: 15px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 8%;
  margin: 10px auto 20px;
  padding: 5px 15px;
  background-color: red;
  box-shadow: 5px 10px 10px rgba(117, 2, 2, 0.356);
  color: white;
}

.random-joke-title {
  position: absolute;
  top: 15px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  word-break: break-all;
  width: 19rem;
  min-height: 15rem;
  margin: 10px 10px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  padding: 5px 10px;
}

.card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.226);
}

.text {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.jokes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.search-jokes-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 50px;
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-color: rgba(119, 118, 118, 0.12);
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.12);
}

.search-input {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  border: 0;
  margin-bottom: 30px;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.1rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.count-input {
  width: auto;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1rem;
  background: transparent;
  transition: border-color 0.2s;
}

select.dropdown {
  width: 100% !important;
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1rem;
  background: transparent;
  transition: border-color 0.2s;
}

.labels {
  display: flex;
  flex-direction: column;
}

.jokes-setters {
  display: flex;
  flex-direction: row;
  margin: 20px auto 30px;
}

.setters {
  margin-left: 50px;
}
